<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/cms-example/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>CMS Single Page Application PHP Developer Exercise</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="myApp">
<div id="headerRegion">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">CMS Single Page Application</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" ng-controller="navCtrl">
                    <li ng-repeat="navLink in navLinks" ng-class="navClass('{{navLink.Title}}')">
                        <a ng-click="getItem('{{navLink.Item}}')" href='{{navLink.Title}}' title="{{navLink.Title}}">{{navLink.LinkText}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">
        <div id="leftRegion" class="col-sm-2 col-md-2 sidebar" ng-controller="navCtrl">
            <ul class="nav nav-sidebar">
                <li ng-repeat="navItem in navItems" class="active"><a href="#">{{navItem.Title}}</a></li>
            </ul>
        </div>
        <div id="centerRegion" class="col-sm-8 col-sm-offset-2 main">
            <h1 class="page-header">Dashboard</h1>

            <div class="row placeholders">
                <form method="post" ng-controller="TinyMceController">
                    <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
                    <button ng-click="getContent()">Get content</button>
                    <button ng-click="setContent()">Set content</button>
                </form>
            </div>
        </div>

        <div id="rightRegion" class="col-sm-2 col-md-2 blog-sidebar">
            <ul class="sidebar-module sidebar-module-inset">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-sm-offset-2">
                <p class="text-muted">All right reserved.</p>
            </div>

            <div class="col-sm-7">
                <div id="navbarFooter" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Casino</a></li>
                        <li><a href="#">Poker</a></li>
                        <li><a href="#">Articles</a></li>
                        <li><a href="#">Promotions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/holder.min.js"></script>
<script src="js/ie10-viewport-bug-workaround.js"></script>
<script type="text/javascript" src="bower_components/tinymce/tinymce.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<!--<script src="js/tinymce/tinymce.min.js"></script>
<script>tinymce.init({
                        selector:'textarea',
                        plugins: "save",
                        toolbar: "save" });
</script>-->
<script src="js/main.js"></script>
</body>
</html>
